ul {
  padding: 4px;
  margin-top: 12px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: rgba(84, 248, 84, 0.301);
  list-style-type: none;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 8px;
}


@media (max-width: 700px) {
  ul {
    padding: 1vw;
    margin-top: 2vw;
  }

  li {
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
  }

  .options {
    padding: 1vw;
    gap: 1vw;
  }

  ::ng-deep .mdc-label {
    font-size: 4vw;
    padding-left: 1vw;
  }
}
