.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgba(221, 16, 16, 0.275);
 
}

.btn-box button:hover {
  background-color: rgba(221, 16, 16, 0.506);
}


@media (max-width: 700px) {
  .btn-box button {
    padding: 2vw;
    border-radius: 1vw;
  }
}
