.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.insert-item-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  background-color: #edeef0;
}

.size {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.input-add-item {
  outline: none;
  border: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #313233;
  background-color: #edeef0;
}

.btn-add-item {
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff5845;
}

@media (max-width: 800px) {
  .container {
    padding: 2vw;
    margin-bottom: 1vw;
  }
  .insert-item-section {
    width: 100%;
    border-radius: 2vw;
  }

  .size {
    padding: 2vw;
    font-size: 3vw;
  }

  .input-add-item {
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  }

  .btn-add-item {
    border-radius: 2vw;
  }
}
